In [17]:
dictStudents = {
    "Name" : ['Osman', 'Hamdi', 'Elmas', 'Tanem', 'Gül Peri'],
    "Surname" : ['Irak','Eski', 'Koksalar','Ozturk','Bilgen'],
    "Numara": [101,204,102,103,205]
}

In [18]:
import pandas as pd
liste = []
for a in range(0,5):
    liste.append('Std'+str(a))
dfStudents = pd.DataFrame(dictStudents, index=[liste])
dfStudents = dfStudents.copy()
dfStudents

          Name   Surname  Numara
Std0     Osman      Irak     101
Std1     Hamdi      Eski     204
Std2     Elmas  Koksalar     102
Std3     Tanem    Ozturk     103
Std4  Gül Peri    Bilgen     205

In [19]:
#loc ile seçim işlemi
dfStudents.loc[:,'Name':'Surname']

          Name   Surname
Std0     Osman      Irak
Std1     Hamdi      Eski
Std2     Elmas  Koksalar
Std3     Tanem    Ozturk
Std4  Gül Peri    Bilgen

In [20]:
dfStudents['Numara'] = [501,502,503,504,505]
dfStudents 
# Tüm kolon'u modifiye ettik

          Name   Surname  Numara
Std0     Osman      Irak     501
Std1     Hamdi      Eski     502
Std2     Elmas  Koksalar     503
Std3     Tanem    Ozturk     504
Std4  Gül Peri    Bilgen     505

In [21]:
dfStudents.iloc[1,1] = 'Eskilesti'
dfStudents

          Name    Surname  Numara
Std0     Osman       Irak     501
Std1     Hamdi  Eskilesti     502
Std2     Elmas   Koksalar     503
Std3     Tanem     Ozturk     504
Std4  Gül Peri     Bilgen     505

In [28]:
# Std5 = ['Anil', 'Ergan', '759']
# dfStudents = dfStudents.append(Std5, ignore_index=True)
display(dfStudents)

        Name    Surname Numara      0
0      Osman       Irak    501    NaN
1      Hamdi  Eskilesti    502    NaN
2      Elmas   Koksalar    503    NaN
3      Tanem     Ozturk    504    NaN
4   Gül Peri     Bilgen    505    NaN
5       Anil      Ergan    759    NaN
6        NaN        NaN    NaN   Anil
7        NaN        NaN    NaN  Ergan
8        NaN        NaN    NaN    759
9        NaN        NaN    NaN   Anil
10       NaN        NaN    NaN  Ergan
11       NaN        NaN    NaN    759
12       NaN        NaN    NaN   Anil
13       NaN        NaN    NaN  Ergan
14       NaN        NaN    NaN    759

In [36]:
dic = {'Name':['Martha', 'Tim', 'Rob', 'Georgia'],
        'Maths':[87, 91, 97, 95],
        'Science':[83, 99, 84, 76]
       }

df = pd.DataFrame(dic, index=['std1','std2','std3','std4'])
df

         Name  Maths  Science
std1   Martha     87       83
std2      Tim     91       99
std3      Rob     97       84
std4  Georgia     95       76

In [46]:
std6 = ['Yücel',70,75]
display(std6)

['Yücel', 70, 75]

In [66]:
df.loc['std5'] = std6

In [67]:
df

         Name  Maths  Science
std1   Martha     87       83
std2      Tim     91       99
std3      Rob     97       84
std4  Georgia     95       76
std5     Anil     99       90

C:\Users\anerg\AppData\Local\Temp\ipykernel_43244\4017241023.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(std6)

TypeError: Can only append a dict if ignore_index=True

In [11]:
class newClass:
    def __init__(self):
        self.bastir()
    def bastir(self):
        print('basti')

new = newClass()

basti

In [17]:
result = ''
result.isalpha()

False

In [20]:
xLambda = lambda x: x+10
xLambda(10)
xLambda(20)

30

In [19]:
def xFunc(x):
    return x + 10

20

In [23]:
class funcs:
    def inner(self):

        print('inner')
    def __init__(self):
        print('out')
        self.inner()
fun1 = funcs()

out
inner

In [3]:
    
class islemler:
    def toplam(self,x,y):
        self.x = x
        self.y = y
        return self.x + self.y



class yazilar(islemler):
    def __init__(self,x,y):
        self.x = x
        self.y = y
        print('merhaba ben x', self.x)
        print('merhaba ben y', self.y)
    super().toplam()

yazi = yazilar(10,20)

merhaba ben x 10
merhaba ben y 20

TypeError: islemler.toplam() missing 1 required positional argument: 'y'

In [7]:
class gizli:
    def __init__(self,password):
        self.__parola = password
    def reachParola(self):
        return self.__parola

anil = gizli('123')

123

In [ ]:
class Main:
    def __init__(self):
        print('Merhaba', get_name())

In [14]:
class Account:
    def __init__(self,name,surname,password):
        self.__name = name
        self.__surname = surname
        self.__password = password

    def get_name(self):
        return self.__name 

    def get_surname(self):
        return self.__surname

    def get_password(self):
        return self.__password

In [21]:
import pandas as pd
    

class Address:
    def __init__(self,city,country):
        self.__city = city
        self.__country = country



class Person:
    def __init__(self, name, surname, address):
        self.__name = name
        self.__surname = surname #ben ekledim
        self.__address = address

class Main:
    def __init__(self, ):
        newPerson = Person('Anil', 'Ergan', Address('Istanbul', 'Turkey'))
        newDict = self.newPerson.__dict__
        df = pd.DataFrame(newDict)
        print(df)

yeni = Main()

AttributeError: 'Main' object has no attribute 'newPerson'

In [22]:
def func(x,y):
    return x,y

print(func(10,20))

(10, 20)

In [34]:
class myClass:
    def __init__(self):
        a = 10

        
new = myClass
print(new.a)

AttributeError: type object 'myClass' has no attribute 'a'

In [39]:
class parent:
    def __init__(self):
        x = 10
        y = 20

class child(parent):
      child_x = super().x

newc = child()
newc.child_x

RuntimeError: super(): no arguments

Marvin

In [6]:
import pandas as pd
liste = ['anil', 'ergan', '666']

df = pd.DataFrame( columns=['name', 'surname', 'number'])

df.loc[len(df)] = liste
print(df)

   name surname number
0  anil   ergan    666