In [16]:
import pandas as pd
from pymysql import connect 
import sqlalchemy

##### Create An Engine
#default
- engine = create_engine("mysql://scott:tiger@localhost/foo")

#mysqlclient (a maintained fork of MySQL-Python)
- engine = create_engine("mysql+mysqldb://scott:tiger@localhost/foo")

#PyMySQL
- engine = create_engine("mysql+pymysql://scott:tiger@localhost/foo")

In [17]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:Hd3yxfGb@localhost/ams')

In [18]:
db = connect(
    host = 'localhost',
    user = 'root',
    password = 'Hd3yxfGb'
)

In [19]:
cur = db.cursor()
#cursor oluşturdum
#database ile iletişimimi bu sayede kuracağım

In [20]:
query = 'show databases'
cur.execute(query)
#cur.execute('Buraya sql kodları gelecek')

4

In [21]:
#Kullanacağım db yi import etme vakti
db = connect(
    host = 'localhost',
    user = 'root',
    password = 'Hd3yxfGb',
    database = 'ams'
)

In [22]:
cur = db.cursor()
cur.execute('show tables')
#1 tane tablom varmış

0

In [23]:
#peki bu tablolar neler?
for t in cur.fetchall():
    print(t)

In [24]:
#şimdi bu person db 'sini pandas df'e çevirelim
# db -> df

# pd.read_sql('person',engine)

In [25]:
#şimdi bu df üzerinde bir adet insert işlemi yapaplım

# df.append(newRow, ignore_index=True)

#bu append edeceğimiz df
#insert -> columns ekler
#append -> row ekler

In [ ]:
#öncelikle ams db içerisinde yeni bir person table tanımlayalım
dicPerson = {
    'Name': 'Anil'
    'Surname': 
}