In [26]:
def bas(a):
    ilk_harf_buyuk = a[0]
    up = ilk_harf_buyuk.upper()
    new_a = a.replace(a[0],up)
    print(new_a)


isim = 'anil'
bas(isim)

Anil

In [27]:
isim = isim.title()
print(isim)

Anil

In [28]:
u = 'ANil ErGan'
u.title()

'Anil Ergan'

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine("mysql+pymysql://root:Hd3yxfGb@localhost/trial1")

isim = input('isminizi giriniz: ')
surname = input('soyadinizi giriniz: ')
mail = input('mail adresinizi giriniz: ')

isim = isim.title()
surname = surname.title()

newPerson = []
newPerson.append([isim,surname,mail])

# DATAFRAME'deki eklemeyi -> DATABASE yansıtma

print('pandas dataframe')
df = pd.DataFrame(newPerson, columns=['isim', 'surname', 'mail'])
try:  
    df.to_sql(con=engine, name='person_v1', if_exists='append', index=False)
except: 
    print('Bu mail adresi zaten sistemde kayitli! ')
print(df)

print('mysql database')
query = "SELECT * from person_v1"
db = pd.read_sql(query, engine)
print(db)

pandas dataframe
    isim surname                mail
0  Kazim   Koyun  kzmkoyun@gmail.com
mysql database
        isim surname                        mail
0       Anil   Ergan         anergan@hotmail.com
1      Aşkin   Ergan           askin@hotmail.com
2  Gamze Nur  Tokmak  gmzetkmk@std.yildiz.edu.tr
3      Kazim   Koyun          kzmkoyun@gmail.com
4      Tarik  Yalcin         trkYalcin@yahoo.com
5      Yucel   Ergan       yucel2069@hotmail.com

In [57]:
# DATAFRAME'deki çıkartımı -> DATABASE yansıtma
db = db.drop([2])
db.to_sql(con=engine,name='person_v1',if_exists='replace', index=False )
db = pd.read_sql(query, engine)
print(db)

    isim surname                   mail
0   Anil   Ergan    anergan@hotmail.com
1  Yucel   Ergan  yucel2069@hotmail.com

In [2]:
import pandas as pd
mydf = pd.DataFrame(columns=['isim_ver','sayi_ver'])
mydf_bad = pd.DataFrame(columns=['isim_ver_bad', 'sayi_ver_bad'])
print(mydf)
print('**************************')
print(mydf_bad)

Empty DataFrame
Columns: [isim_ver, sayi_ver]
Index: []
**************************
Empty DataFrame
Columns: [isim_ver_bad, sayi_ver_bad]
Index: []

In [4]:
class myclass:
    
    def __init__(self):
        isim_ver = input('name')
        self.isim = isim_ver
        sayi_ver = input('sayi')
        self.sayi = sayi_ver
        myliste_bad = [self.isim, self.sayi]
        mydf_bad.loc[len(mydf_bad)] = myliste_bad
        print(mydf_bad)
        self.check()
    def check(self):
        if self.isim.isalpha() == False:
            print('ismi tekrar giriniz')
            exit()
        
        elif self.sayi.isnumeric() == False:
            print('sayiyi tekrar giriniz')
            exit()
        else
            myliste = [self.isim, self.sayi]
            mydf.loc[len(mydf)] = myliste
            print(mydf)
    


myc = myclass()

  isim_ver_bad sayi_ver_bad
0         anil           20
1        3rgan           33
ismi tekrar giriniz

:

In [66]:
import pandas as pd
dic = {
    'market adi': ['bim', 'sok', 'a101'],
    'ucuzluk puani': ['4/5', '3/5', '3/5'],
    'kalite puani': ['5/5', '4/5', '3/5' ]
}

df = pd.DataFrame(columns=['market adi', 'uc', 'kal'])
print(df)

market4 = ['migros', '2/5', '5/5']
df.loc[len(df)] = market4
print(df)

Empty DataFrame
Columns: [market adi, uc, kal]
Index: []
  market adi   uc  kal
0     migros  2/5  5/5

In [81]:
gir = input('giriniz')

if gir=='':
    print('bos girdiniz')

elif gir=='a':
    print('aaaaaaaaaaaaaaa')
else:
    print('bos girmediniz!! tebrikler')

print('peki ya ben')

bos girdiniz
peki ya ben

In [8]:
i = int(input('sayi'))
def func():
    if i>5:
        print('sayi 5 den büyük, func sonlandirildi')
        return None
    else: print('sayi 5 den kucuk, program devam ediyor')
    
    print('gorunen o ki sonlandirilmedi')

func()

sayi 5 den büyük, func sonlandirildi

In [18]:
i = int(input('100/i olacak i yi giriniz'))
def bolme_denemesi(degisken):
    try:
        result = 100/degisken
        print(result)
    except: 
        print('hatali giris')
        return None

    print('islem basarili!!!!')
bolme_denemesi(i)

hatali giris

### TIME MODULE

In [49]:
from time import strftime
from datetime import datetime, timedelta, date

duration = timedelta(hours=1, minutes =25)
time = datetime.now() + duration
take_off = datetime(2022,12,25,12,00)
landing = datetime(2022,12,25,15,00)
# now = date_time.strftime(%)
now = datetime(2022,12,25,17,34)
if take_off < now < landing:
    print(True)
else: 
    print(False)

False

In [45]:
x = 10
y = 20
t = 15
if x<y<t:
    print(True)
else: 
    print(False)

False

In [57]:
name1 = 'anil'
name2 = 'yucel'
if (name1 == 'anil' and name2 == 'yucel') or (name1 == 'yucel' and name2 == 'anil'):
    print('ok')
else: print('no')

ok

In [59]:
x = 'anil'
y = 'ergan'
yazi = x + '-' + y
print(yazi)

anil-ergan

In [78]:
def hey(a=1):
    a = a*2

    return a
a = hey()
print(a)

2

In [13]:
dep = 'IST'
arr = 'E'

if (dep == 'IST' or 'ESB') and (arr == 'ESB' or 'ISB'): 
    print('okay')
else:
    print('nope')

okay

In [22]:
import pandas as pd
df 
def func1(sayi1,df):
    x = sayi1
    y = sayi2
    return x,y

def return_x(dondur):
    x = dondur
    return x

def return_y(dondur):
    y = dondur
    return y

a = func1(10,100)
print(a)

# b = return_x(10)
# print(b + 5)

None

In [1]:
import pandas as pd
dic = {
    #'market adi': ['bim', 'sok', 'a101'],
    # 'ucuzluk puani': ['4/5', '3/5', '3/5'],
    # 'kalite puani': ['5/5', '4/5', '3/5' ]
}

df = pd.DataFrame(dic,columns=['market adi', 'ucuzluk puani', 'kalite puani'])
print(df)
print(len(df))
# # print(df)
# print(type(df))
# x = 10
# print(type(x))


# check = isinstance(df, pd.core.frame.DataFrame)
# if check == True:
#     print('oh')
# else: print('no')

Empty DataFrame
Columns: [market adi, ucuzluk puani, kalite puani]
Index: []
0

In [103]:
import pandas as pd
dic = {
    'market': ['bim', 'sok', 'a101', 'migros', 'metro'],
    'ucuzluk': ['4/5', '3/5', '3/5', '2/5', '3/5'],
    'kalite': ['5/5', '4/5', '3/5', '5/5', '3/5' ]
}

df = pd.DataFrame(dic,columns=['market', 'ucuzluk', 'kalite'])

res = df.isin(['sok']).any().any()

res = df
res1 = df[(df['ucuzluk'] == '3/5') & (df['kalite'] == '4/5')][['market']]
print(res1)
res = df.iloc[:,:1]


# res = ((self.database['Aircraft Name'] == self.name) & (self.database['Aircraft Model'] == self.model)).any()

# istenen_marekt = 'carfur'
# new_df = df[df['market adi'] ]
#             # self.db = self.db[self.db['Flight Number'] != self.flight_number]
res = df

# uculuk puanı 4/5 olanların içinde kalite puanı 3/5 olan var mı?
# df.loc[df['ucuzluk'] == '2/5', ['kalite']] = 'anil'
# res = df_ucuzluk.isin(['5/5']).any().any()

# print(df)

# ucuzluk 3/5 kalite 4/5 olan satırı 
# bas = df[(df["score scaled"] >= 90) | (df["er score"] >= 95) & (df["ger score"] <= 85) & (df["ger score"] >= 75)][["Rank","institution","location code","ar score"]].head(10)

res = df[(df['ucuzluk'] == '3/5') & ((df['kalite'] == '4/5') | (df['kalite'] == '4/5'))]
res = res.reset_index(drop=True)
# print(res)
res_t = df[(df['ucuzluk'] != '3/5') | ((df['kalite'] != '3/5') & (df['kalite'] != '4/5'))]
# print(df)
market = 'carfur'
res.loc[0,'market'] = market

res = df[df['ucuzluk'] == '4/5']

res = df
res = df[(df['ucuzluk'] != '3/5') | (df['kalite'] != '4/5')]

x = res.iloc[0,0]
print(res1)
res1.iloc[0,0]
# print(res_t)
# print(x)

  market
1    sok
  market
1    sok

'sok'

In [4]:




#-----------------------------------------

#CONCAT
# dfnew = pd.DataFrame()
# df2_num = df2['num']
# for i in df2_num:
#     u = df[df['num'] == i][['name', 'surname']]
#     dfnew = pd.concat([u,dfnew],ignore_index=True)
    
# print(dfnew)

#SERIE
# df_name_serie = df['name']
# df_name_serie[1] = 'Berilay'
# print(df_name_serie)
# df['name'] = df_name_serie
# print(df)

#SERIE CAN BE PUT İNTO FUNCTION?
# df_serie = df.iloc[0,:]
# df_serie = pd.Series(df_serie)
# print(type(df_serie))

# def func(serie):
#     print(serie)

# func(df_serie)

#cevap evet!!!

import pandas as pd
dic = {
    'num':['100','200', '300', '400', '500'],
    'name':['Tanem', 'Beril', 'Deniz', 'Veli', 'Cem'],
    'surname':['Felekoğlu', 'Fersah', 'Göktaş','Cevher', 'Irak']
}

dic2 = {
    'num':['100', '300', '400'],
    'vize':[44,56,79],
    'final':[52,75,60]
}

df = pd.DataFrame(dic)
df2 = pd.DataFrame(dic2)

In [8]:
u = df.loc[:,['num']]
print(type(u))

<class 'pandas.core.frame.DataFrame'>

In [28]:
hdef = df2[df2['vize'] == 56][['num', 'final']]
hdef = hdef.iloc[0,:]
heydef = pd.Series(hdef)

In [238]:
dfn = df[df['num'] == '300'][['name','surname']]
print(dfn)
dfn = dfn.iloc[0,:]
dfnn = pd.Series(dfn)

    name surname
2  Deniz  Göktaş

In [116]:
s = pd.Series(df.iloc[0,:])
print(s.num)
print(s['num'])

100
100

In [101]:
import datetime

x = 'osman'
y = 'keman'
u = x + ':' + y




print(u)

osman:keman

In [110]:
class cls1:
    def __init__(self):
        self.x = 10
        self.usethis()
    def usethis(self,a):
        )print(a*10)


cla = cls1()

10
20

In [128]:
y = 'osman'
k = 'anil'

if 1 == 2 or 1 == 3 or 1==1:
    print('ok')
else: print('no')

ok

In [29]:
import pandas as pd
liste = ['101', 'Monday', '11:15']
liste2 = ['102', 'Thursday', '12.30']
newDf = pd.DataFrame(columns=['Flight Number',
    'Day of Week',
    'Departure'])
newDf2 = pd.DataFrame(columns=['Flight Number',
    'Day of Week',
    'Departure'])

newDf.loc[len(newDf)] = liste
newDf2.loc[len(newDf2)] = liste2

newDF = newDf.append(newDf2, ignore_index=True) 
print(newDF)

  Flight Number Day of Week Departure
0           101      Monday     11:15
1           102    Thursday     12.30

C:\Users\anerg\AppData\Local\Temp\ipykernel_45104\739291846.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newDF = newDf.append(newDf2, ignore_index=True)

In [4]:
a = 3
if a > 3:
    print('Ok')
a = 01
b = 0
print(a)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3984958626.py, line 4)

In [18]:
x = 7
y = 89
z = 150
if (x > 8 or y > 85) and (y+z < 200):
    print('oki')

In [42]:
yazi = 'hey naber 10ndan'
yazi = ''
print(type(yazi))

yazi.isspace()

<class 'str'>

False

### SAATLER VE TARİH

In [30]:
from datetime import datetime, timedelta
saat1 = '23:30'
dep1 = '00:40'

saat1_datetime = datetime.strptime(saat1, '%H:%M')
dep1_datetime = datetime.strptime(dep1, '%H:%M')

saat1_delta = timedelta(hours=saat1_datetime.hour, minutes= saat1_datetime.minute)
dep1_delta = timedelta(hours=dep1_datetime.hour, minutes=dep1_datetime.minute)

kalan_vakit = dep1_delta - saat1_delta
# print(type(kalan_vakit.seconds))

if kalan_vakit.seconds < 60*60+11*60:
    print('oki')

saat2 = '22:30'
dep2 = '21:40'

saat2_datetime = datetime.strptime(saat2, '%H:%M')
dep2_datetime = datetime.strptime(dep2, '%H:%M')

saat2_delta = timedelta(hours=saat2_datetime.hour, minutes= saat2_datetime.minute)
dep2_delta = timedelta(hours=dep2_datetime.hour, minutes=dep2_datetime.minute)

kalan_vakit = dep2_delta - saat2_delta
print(kalan_vakit.seconds)

if kalan_vakit.seconds < 60*60+11*60:
    print('oki')

oki
83400

In [33]:
dep_time = '02:10'
dep_time = datetime.strptime(dep_time, '%H:%M')

print(dep_time)

dep_time = dep_time.strftime('%H:%M')
print(dep_time)

# now = datetime.now()
# hesap = timedelta(hours=dep_time.hour, minutes=dep_time.minute) - timedelta(hours=now.hour, minutes=now.minute) 
# hesap > timedelta(minutes=40)

1900-01-01 02:10:00
02:10

In [243]:
from datetime import datetime, timedelta
dep_time = '00:10'
dep_time = datetime.strptime(dep_time, '%H:%M')
dep_time2 = '23:55'
dep_time2 = datetime.strptime(dep_time2, '%H:%M')

if dep_time2 < dep_time:
    print('oki')

In [8]:

if z:
    print('ok')

NameError: name 'z' is not defined

In [98]:
import pandas as pd
liste = ['anil', 'ahmet', 'mehmet']
serie = pd.Series(liste)
serie[1] = 'osman'
serie[1]

'osman'

In [135]:
x = 10
y = 20
u = 30
z = ((x < y) or (y > u))
if z and u==30:
    print('ok')
else:
    print('nope')

ok

In [156]:
import string
import random
letters = string.ascii_uppercase
letters = letters[0:9]
random_letter1 = random.choice(letters)
random_letter2 = random.choice(letters)
random_nubmer = str(random.randint(1,9))
random_gate = random_letter1 + random_nubmer + random_letter2

H5B

In [240]:
x = 11
liste = [10,20,30,40]

if x in liste:
    print('ok')

In [2]:
print(r'\naber')

\naber

In [11]:
i = '05'
i = int(i)
print(i)

5